<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <dd>
            <dt>
                <input type="checkbox" v-model='allCheck' @change='all'>
                <span>{{txt}}</span>
                <input type="checkbox" @change='reverse'>
                <span>反选</span>
            </dt>
            <dt v-for='(item,index) in formList'>
                <input type="checkbox" v-model='checkArr' @change='changeTodo' :value='item.id'>
                <span>{{item.name}}</span>
            </dt>
        </dd>
        <h1 v-for='item in checkArr'>{{item}}</h1>
    </div>
</body>
</html>
<script src="../js/vue.js"></script>
<script>
    var app = new Vue({
        el:'#app',
        data:{
            formList:[
                {id:0,name:'wyh'},
                {id:1,name:'cs'},
                {id:2,name:'gk'},
                {id:3,name:'lyc'},
                {id:4,name:'yf'},
                {id:5,name:'tyl'},
                {id:6,name:'dlf'}
            ],
            checkArr:[],
            allCheck:false,
            txt:'全选'
        },
        methods:{
            all(){
                this.checkArr = [];
                if(this.allCheck){
                    this.formList.forEach(item=>{
                        this.checkArr.push(item.id)
                    })
                    this.txt ='全不选'
                }else{
                    this.txt ='全选'
                }
            },
            reverse(){
                var res = []
                var flag = true
                for(var i = 0;i<this.formList.length;i++){
                    for(var j=0;j<=this.checkArr.length;j++){
                        if(this.formList[i].id==this.checkArr[j]){
                            flag = true;
                            break;
                        }else{
                            flag = false

                        }
                        
                    }
                    if(!flag){
                        res.push(this.formList[i].id)
                    }
                }
                this.checkArr = res
                this.isCheckAll();
                
            },
            changeTodo(){
                this.isCheckAll();
            },
            isCheckAll(){
                if(this.checkArr.length<this.formList.length){
                    this.allCheck = false
                    this.txt = '全选'
                }else{
                    this.allCheck = true
                    this.txt = '全不选'
                }
            }

        }
    })
</script>
