<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <!-- 实现用户选择的select option 与selectCity 实现数据双向绑定 -->
       <select name="city" id="city" @change="changeCity"  v-model="seletCity">
           <option v-for="(item,index) in city" :value="item">{{item}}</option>
       </select>
    </div>
    <script src="./vue.js"></script>
    <script>
        var app = new Vue({
            el:'#app',
            data:{
                city:[  // option 视图数据
                    '南京','无锡','苏州','常州'
                ],
                seletCity:'苏州'   // 表述 用户选择的哪一个option 的【value 值】
            },
            methods:{
                changeCity(){
                    console.log(this.seletCity)
                }
            }
        })
    </script>
</body>
</html>
